/*!
 * Home Tiles v1.0.0a
 * Copyright 2015 Mikołaj Pich
 */

.home-tiles {
	border-bottom: 1px dotted silver;
	overflow: hidden;
	padding: 10px 10px 30px;
	z-index: -100;
}

.home-tiles .tile {
	background-position: center !important;
	border: 1px solid transparent;
	box-sizing: border-box;
	float: left;
	margin-bottom: 10px;
	position: relative;
	transition: all 0.3s ease-in-out 0s;
}
.home-tiles .tile h3 {
	background: rgba(0,0,0, 0.4);
	bottom: 15px;
	color: #fff;
	left: 0;
	margin: 0;
	padding: 15px;
	position: absolute;
	right: 15px;
	text-shadow: 2px 2px 5px #000;
}
.home-tiles > a:hover > .tile {
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: inset 0 0 50px 0 rgba(0,0,0,0.3);
}

/* big tiles */
.home-tiles .tile-big {
	height: 270px;
}
.home-tiles .tile-big-60 {
	margin-right:1%; 
	width: 59%; 
}
.home-tiles .tile-big-40 {
	width: 40%;
}
.home-tiles .tile-big-60 h3 {
	font-size: 2.5rem;
}
.home-tiles .tile-big-40 h3 {
	font-size: 2.3rem;
}

/* small tiles */
.home-tiles .tile-small {
	height: 200px;
	margin-right: 1%;
	width: 32.666%;
}
.home-tiles > a:last-child > .tile-small {
	margin: 0;
}
.home-tiles .tile-small h3 {
	font-size: 2rem;
}

@media (max-width: 650px) {
	.home-tiles .tile {
		height: 150px
		width: 100%;
	}
}
@media (max-width: 500px) {
	.home-tiles .tile-small {
		display: none;
	}
}
